@{
    ViewData["Title"] = "Home Page";
}

@model StoreItemList

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @*@Html.DropDownListFor(item => item.StoreItemLst,
        new SelectList(Model.StoreItemLst),
        "Select StoreItem")*@



    @*<input type="button" value="Go Somewhere Else" onclick="location.href='<%: Url.Action(" Action", "Controller" ) %>'" />

        @model Student

        @Html.LabelFor(m => m.Cost)
        @Html.DropDownList()*@
</div>
